table.outer {
    border-color: #466bb0;
    border: 1px solid #466bb0;
    font-size: 13px;
    border-collapse: separate;
    border-spacing: 2px;
    width: 100%;
}

table th{
    background-image: url(../images/th_bg.gif);
}

table .head{
    background-color: #466bb0;
    color: #ffffff;
}

INPUT SELECT TEXTAREA{
    font-size: 13px;
}

#search_patient{
    width: 30%;
}

#patient_action{
    width: 10%;
}

#patient_id, #jform_patient_id{
    height:110px; 
    width:40%; 
    outline:0;
}

.button{
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: .85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: background-color .25s ease-out,color .25s ease-out;
    font-size: .9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #2ba6cb;
    color: #fefefe;
}
